@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
html {
  font-size: 62.5%; /* 62.5% es equivalente a 10px, entonces 1rem = 10px
  /* 
      Por defecto
      ROOT EM  = rem 
      1rem = 16px
  
  */
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: 'Inter', sans-serif;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 5rem; /* 50px */
  font-weight: 900;
  text-align: center;
}

a {
  text-decoration: none;
  color: #202020;
}

.container {
  width: 95%;
  max-width: 120rem; /* 1200px */
  width: min(95%, 120rem); /* Significa lo mismo que las 2 lineas previas */
  margin: 0 auto;
}

.loader {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}

.btn-movie {
  border: none;
  background-color: unset;
}

.onemovie {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10rem;
}

.onemovie-desktop {
  display: none;
}
.onemovie-mobile {
  display: block;
}
.moviecard {
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.moviecard-description {
  display: block;
  padding: 2rem;
  text-align: center;
}

.moviecard-vote {
  font-size: 2rem;
}
.moviecard h3 {
  font-size: 2.5rem;
  text-align: center;
}

.moviecard-image {
  border-radius: 0.75rem;
  overflow: hidden;
}

.moviecard:hover .moviecard-image img {
  transform: scale(1.05);
}

.btn-seemore {
  border: none;
  display: block;
  font-size: 2rem;
  background-color: inherit;
  margin: 5rem auto;
  width: fit-content;
  color: gray;
  cursor: pointer;
}
.btn-seemore:hover {
  color: #000;
  transition: color 0.2s linear;
}
@media (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .moviecard {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .moviecard-description {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.75rem;
    text-align: center;
    z-index: 10;
    bottom: -100%;
    left: 0;
    opacity: 0;
    transition: all 0.1s linear;
  }

  .moviecard:hover .moviecard-description {
    bottom: 0;
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }

  .onemovie {
    width: 80rem;
    max-width: 95%;
    background-color: #f1f1f1;
    padding: 2rem;
    box-shadow: 1px 1px 10px 1px rgba(20, 20, 20, 0.1);
    border-radius: 1rem;
  }
  .onemovie img {
    border-radius: 0.75rem;
  }

  .onemovie-desktop {
    display: block;
  }
  .onemovie-mobile {
    display: none;
  }
}
